API_KEY=eCGo9bZjoxqGZW8h325LA3wlKV0vq01lIQ4w
API_BASE_URL=https://api.cryptoinfo.me/
COINGECKO_API_URL=https://api.coingecko.com/api/v3/simple/price?ids=bitcoin,monero,ethereum,tron,lightcoin,tether&vs_currencies=usd,rub

